button#button1{
    border-radius: 15px;
    border-color: transparent;
background-color: deepskyblue;
}
button#button2{
    border-radius: 10px;
    border-color: aliceblue;
}
button#button3{
    border-radius: 10px;
    border-color: aliceblue;
}
.container h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: white;
}
h4{
    font-weight: 250;
}
.container h5{
    color:white;

}
 .container{
    height: 525px;
    margin: 140px;
    width: 20%;
    border-radius: 40px;
    background-color: transparent;
    backdrop-filter: blur(20px);
} 
body{
    background-image: url(elements/vienna-reyes-Zs_o1IjVPt4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px; 
}