*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: lightgray;
    align-items: center;
}
.logo img{
    position: relative;
    height: 80px;
    left: 25px; 
}
.brandlogo img{
    position: relative;
    top: 8px;
    bottom: 1px;
    height: 30px;
    left: 750px; 
}
.brandlogo2 img{
    position: relative;
    top: 12px;
    bottom: 1px;
    height: 45px;
    left: 600px; 
}
.label h1{
    position:relative;
    left: 33px;
    top: 5px;
    font-family: 'Times New Roman', Times, serif;
} 
.label h4{
    position: relative;
    left: 33px;
    top: 4px;
    font-family: 'Times New Roman', Times, serif;
}
.topbtn{
    position: relative;
    top: 8%;
    left: 70%;
}
.topbtn button{
    font-size: 25px;
    color:  rgb(30, 11, 99);
    background-color: lightgray;
    border-radius: 15%;
    border-color: lightgrey;
    border-style: solid;
    position: relative;
    left: 130px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topbtn button:focus{
    color: rgb(30, 11, 99);
    background-color: white;
    border-color: black;
}
.searchbar input{
    position: relative;
    left: 285px;
    font-size: 20px;
    height: 33px;
    width: 400px;
    border-radius: 20px;
    
}
.searchbar i{
    font-size: 20px;
	color: black;
    position: relative;
    top: 50%;
    left: 58%;
}
.searchbar input{

	height: 40px;
	font-size: 18px;
	padding-left: 10px;
    background-color:white;
    border-style: outset;
}
.advpage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(elements/madrid-1-min.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;  
}
.advbtn{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 200px;
    height: 300px;
    width: 350px;
    margin: 60px;
    border-radius: 20px; 
}
.advbtn h1{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.advbtn h3{
    position: relative;
    top: 15px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.advbtn button{
    font-weight: bold;
    font-size: 15px;
    width: 38%;
    height: 38px;
    border-style: solid;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 25%;
    background-color: white;
    color:  rgb(91, 56, 216);
    border-color: rgb(91, 56, 216);
    font-family: Arial, Helvetica, sans-serif;
}
.tshirt img{
    
    position: absolute;
    height: 90px;
    right: 55%;
    top: 15%;
}
.tshirt{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 5%;
    left: 350px;
    height: 600px;
    width: 900px;
    margin: 90px;
    border-radius: 20px; 
}
.tshirt h1{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 10px;
    left: 37%;
}
.tshirt img{
    height: 65%;
    top: 20%;
}
.tshirt h2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    top: 50px;
    left: 45%;
}
.tshirt h4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 60px;
    left: 45%;
}
.tshirt .size{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 80px;
    left: 45%;
}
.sizebutton button{
    position: relative;
    left: 45%;
    top: 48px;
    font-size: large;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
    color: darkgray;
    border-color: darkgray;
    background-color: transparent;
    border-style: solid;
}
.sizebutton button:focus{
    color: blue;
    border-color: blue;
}
.tshirt .badge{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 130px;
    left: 45%;
}
.badgebutton button{
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    left: 45%;
    top: 98px;
    color: darkgray;
    border-color: darkgray;
    background-color: transparent;
    padding: 5px; 
    border-style: solid;
}
.badgebutton button:focus{
    color: blue;
    border-color: blue;
}
.tshirt .name{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 190px;
    left: 45%;
}
.namebutton button{
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    left: 45%;
    top: 145px;
    color: darkgray;
    border-color: darkgray;
    background-color: transparent;
    padding: 5px; 
    border-style: solid;
}
.namebutton button:focus{
    color: blue;
    border-color: blue;
}
.tshirt .note{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 45%;
    top: 180px;
}
.cartbutton button{
    font-weight: bold;
    font-size: 15px;
    width: 38%;
    height: 38px;
    border-radius: 10px;
    position: relative;
    top: 220px;
    left: 50%;
    background-color: white;
    color: rgb(91, 56, 216);
    border-color: rgb(91, 56, 216);
}
.cartbutton button:focus{
    color: rgb(91, 56, 216);
    background-color: lightgray;
    border-color: rgb(91, 56, 216);
}
.feature h1{
    position: relative;
    top: 30px;
    left: 23%;
    height: 42px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}
.page1{
    top: 100%;
  background-image: url(elements/david-carrero-fernandez-baillo-Q0D8l3OXEv4-unsplash.jpg);
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1920px 1000px; 
}
.feature{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200%;
    background-image: url(elements/wallpaperflare.com_wallpaper\ \(18\).jpg);
    height: 100%;
    width: 100%;
    background-size: 1920px 1080px;  
}
.row{
    position: relative;
    right: 28%;
    width: 800px;
    height: 800px;
    border: 2px;
    display: flex;
    align-items: center;
    
}
.colu1{
    width: 1000px;
    height: 600px;

    background-color:lightgray;
}
.colu2{
    width: 1000px;
    height: 600px;

    background-color: lightgray;
}
.colu3{
    width: 1000px;
    height: 600px;
    background-color: lightgray;
}
.colu4{
    width: 1000px;
    height: 600px;

    background-color: lightgray;
}
.colu1 button{
    font-size: medium;
    position: relative;
    left: 33%;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}
.colu1 button:focus{
    color: white;
    background-color: rgb(113, 113, 249);
    border-color: black;
}
.colu2 button{
    font-size: medium;
    position: relative;
    left: 33%;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}
.colu2 button:focus{
    color: white;
    background-color: rgb(113, 113, 249);
    border-color: black;
}
.colu3 button{
    font-size: medium;
    position: relative;
    left: 33%;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}
.colu3 button:focus{
    color: white;
    background-color: rgb(113, 113, 249);
    border-color: black;
}
.colu4 button{
    font-size: medium;
    position: relative;
    left: 36%;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}
.colu4 button:focus{
    color: white;
    background-color: rgb(113, 113, 249);
    border-color: black;
}
.colu1 p{
    position: relative;
    top: 7px;
}
.colu2 p{
    position: relative;
    top: 7px;
}
.colu3 p{
    position: relative;
    top: 7px;
}
.colu4 p{
    position: relative;
    top: 7px;
}
.urban{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 300%;
        background-image: url(elements/7446237.jpg);
        background-size: 1920px 1080px;  
        height: 100%;
        width: 100%;
}
.urban img{
    position: relative;
    height: 50%;
    width: auto;
    border-radius: 35px;
    top: 10%;
}
.urbantext{
    position: relative;
    height: 30%;
    width: 40%;
    background:rgb(255, 255, 255, 0.5);
    top: 20%;
    right: 70px;
    border-radius: 35px;
}
.urbantext h1{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 20%;
    left: 5%;
    font-size: 50px;
}
.urbantext h4{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 24%;
    left: 5%;
    font-size: 20px;
}
.urbantext button{
    font-size: 30px;
    position: relative;
    top: 30%;
    left: 5%;
    color: black;
    background-color: white;
    border-color: black;
    border-style: outset;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 40px;
    width: auto;
}
.urbantext button:focus{
    color: white;
    background-color: rgb(111, 111, 252);
    border-color: black;
 }
.tail{
    display: flex;
    flex: 1;
    position: absolute;
    height:15%;
    top: 85%;
    width: 100%;
    background-color: lightgray;
}
.tail img{
    height: 30px;
    left: 45%;
    top: 50%;

}
.tail h4{
    left: 45.5%;
    top: 30%;
    position: absolute;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tail h5{
    position:absolute;
    top: 80%;
    left: 7%;
    color: black;
}
.tail h3{
    position: absolute;
    top: 60%;
    left: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rmlogo img{
    position: absolute;
    top: 10px;
    height: 115px;
    left: 10px;

}
.tail button{
    position: absolute;
    top: 30%;
    left: 84%;
    font-size: 18px;
    color: black;
    background-color: white;
    border-color: rgb(91, 56, 216);
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bottomlogo img{
    position: absolute;
    height: 28%;
    top: 54px;
    left: 130px;
    border-radius: 1px;
}
.bottomlogo2 img{
    position: absolute;
    height: 50px;
    left: 200px;
    top: 54px;
}
.tail button:focus{
   color: black;
   background-color:white;
   border-color: black;
}








